KV_REST_API_URL=
KV_REST_API_TOKEN=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
RESEND_API_KEY=
CONTACT_FORM_FORWARDING_SECRET=
NEXT_PUBLIC_BASE_URL=
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
VIRTUAL_EMPLOYEE_ADMIN_TOKEN=
